<ion-header>
  <ion-toolbar>
    <ion-title>
      Workout Schedule
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      Monday
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Bench Press</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Push Ups</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Barbell Curls</ion-label>
        <ion-input></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Wednesday
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Squat</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Leg Lifts</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Lunges</ion-label>
        <ion-input></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Friday
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Deadlift</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Shoulder Press</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Pull Ups</ion-label>
        <ion-input></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>
  
</ion-content>
